body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('assets/leafbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Needed for absolute positioning of children */
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 230px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
    margin-right: 25px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

/* testing */